<form [formGroup]="form">
    <div class="form-row">
        <label for="key">Encryption key</label>
        <div class="input-container">
            <app-password-input
                formControlName="key"
            ></app-password-input>
            <button
              class="link key-btn" 
              *ngIf=" type == 'encrypt' "
              type="button"
              (click)="copyKey()"
            >copy</button>
            <span> • </span>
            <button
              class="link key-btn" 
              *ngIf=" type == 'encrypt' "
              type="button"
              (click)="insertRandomKey()"
            >get random key</button>
        </div>
    </div>
    <div class="form-row">
        <label for="text">Text to be {{ type == 'encrypt' ? 'encrypted' : 'decrypted' }}</label>
        <textarea name="text" id="text" formControlName="text"></textarea>
    </div>
    <button class="submit-btn" (click)="onSubmit(form)">{{ type == 'encrypt' ? 'Encrypt' : 'Decrypt' }}</button>
    <app-error-box [text]="errorText" [shouldShow]="shouldShowError"></app-error-box>
    <hr>
    <div class="output-container">
        <div class="output-header">
            <label for="output">{{ type == 'encrypt' ? 'Encrypted' : 'Decrypted' }} text</label>
            <div class="button-wrapper">
                <app-copy-button (click)="copyOutput()"></app-copy-button>
            </div>
        </div>
        <textarea name="output" id="output" readonly disabled [value]="output"></textarea>
    </div>
</form>