// .form-row {
//     padding: 0.75rem 0;
// }
form {
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    cursor: text;
}
.input-container {
    display: flex;
    align-items: center;
}
.input-container, textarea {
    margin-bottom: 0.8rem;
}
textarea {
    // width: calc(75% - 12px - 2.5rem - 4px);
    width: calc(100% - 12px - 2px);
    padding: 6px;
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
}
textarea:disabled {
    cursor: text;
}
.key-btn {
    border: none;
    background: none;
    margin-left: 0.2rem;
    height: max-content;
    font-size: 0.8rem;
    position: relative;

    &:first-of-type {
        margin-left: 0.5rem;
    }

    & + span {
        margin-left: 0.2rem;
        font-size: 70%;
        color: #444;
    }
}
.submit-btn {
    border: 1px solid #999;
    background: #0001;
    border-radius: 5px;
    width: max-content;
    align-self: center;
    color: var(--main);
    font-weight: bold;
    padding: 0.4rem 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
        border-color: var(--main);
        background: rgba(var(--main-rgb), 0.15);
    }
    &:focus {
        border-color: var(--main);
    }
    &:active {
        background: rgba(var(--main-rgb), 0.35);
    }
}
.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}