<aside class="safety-warning-container">
    <h5>
        <fa-icon [icon]="faWarning"></fa-icon>
        <span>Warning!</span>
    </h5>
    <p>
        This encryption algorithm is only a proof of concept and has not been tested for security, and therefore, should not be used to store sensitive data.
    </p>
    <p>
        It may contain certain flaws unknown to the author that could result in breaking the encryption and revealing the data.
    </p>
    <p>
        If you are looking for secure encryption methods, read <a href="https://www.hp.com/us-en/shop/tech-takes/what-are-different-types-of-encryption">this article</a>.
    </p>
</aside>