.safety-warning-container {
    float: right;
    padding: 0.75rem;
    width: 25%;
    border: 1px solid var(--acc);
    margin-left: 1rem;
    background: rgba(var(--main-rgb), 0.1);
    border-radius: 5px;
}
h5 {
    font-size: 110%;
    color: var(--main);
    font-weight: bold;
    margin: 0 0 0.25rem 0.6rem;

    span {
        margin-left: 0.7rem;
    }
}
@media only screen and (max-width: 800px) {
    .safety-warning-container {
        float: none;
        width: 90%;
        max-width: 400px;
    }
}