.password-container {
    display: flex;
}
input {
    height: 26px;
    font-size: 0.85rem;
    border-right: none;
    padding: 0 6px;
    min-width: 160px;
    max-width: 400px;
    width: max-content;
}
button {
    height: 28px;
    width: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 0 3px 3px 0;
    transition: border-color 0.3s ease;
    img {
        height: 18px;
    }
}