<div class="explanation-container">
    <app-safety-warning></app-safety-warning>
    <div class="text-container">
        <p i18n="@@component.explanation.text1">Prime encryption tool encrypts or decrypts a piece of text using a custom-designed algorithm based on prime numbers.</p>
        <p>
            <span i18n="@@component.explanation.text2">For a more detailed explanation, see the </span>
            <a class="link" routeLink="about" i18n="@@component.explanation.text3">About</a>
            <span  i18n="@@component.explanation.text4"> page.</span>
        </p>
    </div>
</div>