p {
    margin: 0.4rem 0;
}
@media only screen and (max-width: 800px) {
    .explanation-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}